.search-bar{

  font-size: 20px;
  flex: 1;
  height: 36.4px;  
  border-width: 1.2px 0px 1.2px 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 20px 0 0 20px;
  width: 0;

}



.search-bar::placeholder{
  font-family: Roboto,Arial;
  padding-left: 20px;
  font-size: 18px;

}

.header{
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: rgb(232, 231, 231);
  position: fixed;
  top: 0px;    
  left: 0px;
  right:0px;
  height: 56px;
  z-index: 1;
}

.hamburger-menu{
  height: 25px;
  margin: 0 20px 0 20px;
}

.youtube-logo{
  height: 20px;
  margin-left: 16px;
}

.left-section{
  display: flex;
  align-items: center;
}

.search-button{
  width: 66px;
  height: 40px;
  background-color: rgb(248, 248, 248);
  border: 1px solid lightgray;
  border-radius: 0 20px 20px 0;
  margin-left: -1px;
  
}

.search-button,
.voice-search-button,
.right-section-buttons{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.right-section-buttons:hover .tool-tip
{
  opacity: 1;
}

.search-button .tool-tip,
.voice-search-button .tool-tip,
.right-section-buttons .tool-tip{
  background-color: gray;
  position: absolute;
  color: white;
  padding: 6px 8px 6px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Roboto;
  bottom: -30px;
  opacity: 0;
  transition: .15s;
  pointer-events: none;
}

.voice-search-button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border:none ;
  margin-left: 10px;
  background-color: rgb(248, 248, 248);
}

.mid-section{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 35px 0 70px;
  max-width: 500px;
  text-align: center;
  align-items: center;
}

.right-section{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  flex-shrink: 0;
}

.right-section-icons{
  width: 25px;
}

.right-section-buttons{
  background-color: white;
  border: none;
  position: relative;
}

#notification-icon{
  position: relative;
}

.notifications{
  position: absolute;
  top: -2.5px;
  right: -4px;
  background-color: rgb(220, 0, 0);
  border: none;
  color: white;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  font-size: 12px;
}

#profile{
  width: 36px;
  border-radius: 18px;
  margin-right: 4px;
}